.form-group {
     margin-bottom: 5px !important; 
}
.form-group label {
     margin-bottom: 0px !important; 
}

.table td, .table th {
    padding: 0.5rem !important;
}

.content-header {
    padding: 0.5rem;
}

.modal-header {
    padding: 0.5rem;
}
.modal-footer {
    padding: 0.5rem;
}

.modal-body {
    padding: 1rem;
}